---
import Layout from '../../layouts/Layout.astro';
import HeadingsForSection from '../../layouts/HeadingsForSection.astro';
import HeadersLinks from '../../components/SharedComponents/HeadersLinks';
import SidebarList from '../../components/SharedComponents/SidebarList.astro';
import { Image } from 'astro:assets';
import service1 from '../../assets/service-1-1.webp';
---

<Layout title='Instrukcja Bezpieczeństwa Pożarowego'>
  <main>
    <div class='welcome'>
      <div>
        <HeadersLinks
          href1='/uslugi'
          title1='Usługi'
          href2='/uslugi/instrukcja-bezpieczenstwa-pozarowego'
          title2='Opracowanie instrukcji bezpieczeństwa pożarowego'
        />
        <HeadingsForSection
          heading='Opracowanie Instrukcji Bezpieczeństwa Pożarowego'
        />
        <p class='description'>
          Jeśli planujesz zakończyć inwestycję i rozpocząć korzystanie z
          obiektu, zachęcamy do kontaktu z nami.
        </p>
      </div>
    </div>

    <section class='main-section'>
      <div class='sidebar-container'>
        <SidebarList />
      </div>
      <div class='service-container'>
        <Image
          id='service'
          class='service-img'
          src={service1}
          alt={'engineer planning'}
        />
        <div class='service-links'>
          <a aria-label='link to home page' href='/'>Strona Główna /</a>
          <a aria-label='link to previus page' href='/uslugi'>Usługi /</a>
          <span>Instrukcja bezpieczeństwa pożarowego</span>
        </div>
        <h2 class='service-heading'>
          Opracowanie Instrukcji Bezpieczeństwa Pożarowego
        </h2>
        <span class='line'></span>
        <p class='service-text'>
          W ramach świadczonej usługi, polegającej na przekazaniu lokalu straży
          pożarnej, przeprowadzamy kompleksową weryfikację stanu technicznego
          obiektu i związanych z nim dokumentów, aby upewnić się, że spełniają
          one określone kryteria. Opracowujemy również zawiadomienie, które
          zostaje przesłane do właściwej jednostki Państwowej Straży Pożarnej.
        </p>
        <h3 class='service-heading'>Podstawa Prawna</h3>
        <span class='line'></span>
        <p class='service-text'>
          Wymóg opracowania Instrukcji Bezpieczeństwa Pożarowego wynika z
          postanowień § 6 ust. 1 Rozporządzenia Ministra Spraw Wewnętrznych i
          Administracji z 7 czerwca 2010 r. w sprawie ochrony przeciwpożarowej
          budynków, innych obiektów budowlanych i terenów (Dz. U. z 2023 r.,
          poz. 822), zgodnie z którym właściciele, zarządcy lub użytkownicy
          obiektów bądź ich części stanowiących odrębne strefy pożarowe,
          przeznaczonych do wykonywania funkcji użyteczności publicznej,
          zamieszkania zbiorowego, produkcyjnych, magazynowych oraz
          inwentarskich, zapewniają i wdrażają instrukcję bezpieczeństwa
          pożarowego.
        </p>
        <h3 class='service-heading'>
          Kiedy jest potrzebna aktualizacja Instrukcji Bezpieczeństwa
          Pożarowego?
        </h3>
        <span class='line'></span>
        <p class='service-text'>
          Zgodnie z wymaganiami określonymi odpowiednio w § 6 ust. 7 i 9
          Rozporządzenia MSWiA z dnia 7 czerwca 2010 r. Instrukcja
          Bezpieczeństwa Pożarowego: - powinna być poddawana okresowej
          aktualizacji, co najmniej raz na 2 lata, a także po takich zmianach
          sposobu użytkowana obiektu lub procesu technologicznego, które
          wpływają na zmianę warunków ochrony przeciwpożarowej, - powinna się
          znajdować w miejscach dostępnych dla ekip ratowniczych.
        </p>
      </div>
    </section>
  </main>
</Layout>

<style>
  .welcome {
    background-color: rgb(206, 110, 102);
    background-image: url('/hero-fireman2-mb.webp');
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 70px 20px;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0, 100% 91%, 75% 100%, 0 93%);
    gap: 20px;
  }
  .description {
    color: var(--base-wh);
    font-family: var(--roboto-font);
    line-height: 27px;
    font-size: clamp(0.7rem, 0.9rem, 1rem);
  }
  .main-section {
    max-width: 1440px;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
  }
  .sidebar-container {
    order: 1;
  }
  .service-container {
    box-shadow: 0px 10px 7px -4px rgba(233, 233, 235, 1);
  }
  .service-img {
    width: 100%;
    object-fit: cover;
  }
  .service-links,
  .service-links a {
    font-family: var(--main-font);
    font-size: 0.8rem;
    color: var(--sub-black);
  }
  .service-links span {
    font-weight: 900;
  }
  .service-heading {
    font-family: var(--main-font);
    margin-top: 30px;
    color: var(--base-black);
    text-transform: uppercase;
  }
  .service-text {
    padding-top: 20px;
    font-family: var(--roboto-font);
    line-height: 24px;
  }
  .service-list {
    margin-left: 20px;
    font-family: var(--roboto-font);
    font-size: 0.9rem;
    line-height: 24px;
    padding-bottom: 30px;
  }
  .line {
    height: 7px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: var(--base-red);
    width: 10%;
    display: inline-block;
  }
  @media (min-width: 900px) {
    .welcome {
      flex-direction: row;
      padding: 120px 50px 120px 50px;
      background-position: center -150px;
      background-image: url('/hero-fireman2.webp');
    }
    .main-section {
      flex-direction: row;
      margin: auto;
    }
    .service-container {
      padding-left: 50px;
      max-width: 800px;
      box-shadow: -25px 0 25px -25px #e9e9eb;
    }
    .sidebar-container {
      order: 0;
    }
  }
</style>
