---
import Layout from '../../layouts/Layout.astro';
import HeadingsForSection from '../../layouts/HeadingsForSection.astro';
import HeadersLinks from '../../components/SharedComponents/HeadersLinks';
import ServicesPage from '../../components/SharedComponents/ServicesPage.astro';
import service8 from '../../assets/service-8.webp';
---

<Layout title='Szkolenia z ochrony przeciwpożarowej'>
  <main>
    <div class='welcome'>
      <div>
        <HeadersLinks
          href1='/uslugi'
          title1='Usługi'
          href2='/uslugi/przeglad-wylacznikow-pradu'
          title2='Przegląd i konserwację przeciwpożarowych wyłączników prądu'
        />
        <HeadingsForSection
          heading='Przegląd i konserwację przeciwpożarowych wyłączników prądu'
        />
        <p class='description'>
          Zapraszamy do partnerstwa zarządców i właścicieli nieruchomości
          poszukujących solidnych specjalistów w dziedzinie kontroli
          przeciwpożarowych wyłączników prądu.
        </p>
      </div>
    </div>

    <ServicesPage
      imagePath={service8}
      homeLink='/'
      servicesLink='/uslugi/'
      servicesText='Przegląd i konserwację przeciwpożarowych wyłączników prądu'
      heading='Przegląd i konserwację przeciwpożarowych wyłączników prądu'
      content='Przynajmniej raz do roku wymagany jest techniczny przegląd wyłączników prądu o funkcji przeciwpożarowej, przeprowadzany przez osoby posiadające niezbędne uprawnienia i kwalifikacje w zakresie obsługi i naprawy systemów oraz urządzeń elektrycznych. Zapraszamy do nawiązania współpracy wszystkich właścicieli i zarządców nieruchomości poszukujących doświadczonych specjalistów od przeglądów przeciwpożarowych wyłączników prądu.'
      legalHeading='Jak działa przeciwpożarowy wyłącznik prądu'
      legalContent='Przeciwpożarowy wyłącznik prądu jest elementem instalacji elektrycznej. Zgodnie z § 2 ust. 1 pkt 9 Rozporządzenia MSWiA z dnia 7 czerwca 2010 r. w sprawie ochrony przeciwpożarowej budynków, innych obiektów budowlanych i terenów utożsamiany jest z urządzeniem przeciwpożarowym, gdyż zgodnie z definicją służy do zapobiegania powstawaniu pożaru, wykrywania i zwalczania go, bądź ograniczania jego skutków. Przeciwpożarowy wyłącznik prądu ma za zadanie odciąć dopływ prądu do wszystkich obwodów, z wyjątkiem obwodów zasilających instalacje i urządzenia, których funkcjonowanie jest niezbędne podczas pożaru. Należy pamiętać, iż odcięcie dopływu prądu przeciwpożarowym wyłącznikiem nie może powodować samoczynnego załączenia drugiego źródła energii elektrycznej, w tym zespołu prądotwórczego, z wyjątkiem źródła zasilającego urządzenia przeciwpożarowe, jeżeli występują one w budynku. Przeciwpożarowy wyłącznik prądu powinien być instalowany w pobliżu wejścia do budynku lub, jeśli jest to konieczne w pobliżu rozdzielni głównej.'
      legalHeadingTwo='Podstawa Prawna'
      legalContentTwo='Zgodnie z § 183 rozporządzenia Ministra Infrastruktury z dnia 12 kwietnia 2002 r. w sprawie warunków technicznych, jakim powinny odpowiadać budynki i ich usytuowanie przeciwpożarowy wyłącznik prądu należy stosować w strefach pożarowych o kubaturze przekraczającej 1000 m3 lub zawierających strefy zagrożone wybuchem. Zgodnie z § 3 ust. 2 i ust. 3  Rozporządzenia MSWiA z dnia 7 czerwca 2010 r. w sprawie ochrony przeciwpożarowej budynków, innych obiektów budowlanych i terenów przeciwpożarowe wyłączniki prądu powinny być poddawane przeglądom technicznym i czynnościom konserwacyjnym w okresach ustalonych przez producenta, nie rzadziej jednak niż raz w roku. '
    />
  </main>
</Layout>

<style>
  .welcome {
    background-color: rgb(206, 110, 102);
    background-image: url('/hero-fireman2-mb.webp');
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 70px 20px;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0, 100% 91%, 75% 100%, 0 93%);
    gap: 20px;
  }
  .description {
    color: var(--base-wh);
    font-size: clamp(0.7rem, 0.9rem, 1rem);
    font-family: var(--roboto-font);
    line-height: 27px;
  }
  @media (min-width: 900px) {
    .welcome {
      flex-direction: row;
      padding: 120px 50px 120px 50px;
      background-position: center -150px;
      background-image: url('/hero-fireman2.webp');
    }
    .welcome div {
      max-width: 960px;
    }
  }
</style>
