---
import Layout from '../../layouts/Layout.astro';
import HeadingsForSection from '../../layouts/HeadingsForSection.astro';
import HeadersLinks from '../../components/SharedComponents/HeadersLinks';
import ServicesPage from '../../components/SharedComponents/ServicesPage.astro';
import service3 from '../../assets/service-3.webp';
---

<Layout title='Szkolenia z ochrony przeciwpożarowej'>
  <main>
    <div class='welcome'>
      <div>
        <HeadersLinks
          href1='/uslugi'
          title1='Usługi'
          href2='/uslugi/szkolenia-przeciwpozarowe'
          title2='Szkolenia przeciwpożarowe'
        />
        <HeadingsForSection
          heading='Szkolenia z zakresu ochrony przeciwpożarowej'
        />
        <p class='description'>
          Nasze praktyczne szkolenia przeciwpożarowe skierowane są głównie do
          osób odpowiedzialnych za gaszenie pożarów i organizowanie ewakuacji.
        </p>
      </div>
    </div>

    <ServicesPage
      imagePath={service3}
      homeLink='/'
      servicesLink='/uslugi'
      servicesText='Szkolenia przeciwpożarowe'
      heading='Szkolenia z zakresu ochrony przeciwpożarowej'
      content='Zgodnie z art. 4 ust. 1 pkt 6 Ustawy z dnia 24 sierpnia 1991 r. o ochronie przeciwpożarowej, właściciel, zarządca lub użytkownik budynku, obiektu budowlanego lub terenu, zapewniając ich ochronę przeciwpożarową, jest obowiązany zapoznać pracowników z przepisami przeciwpożarowymi. Celem szkoleń PPOŻ, zgodnie z aktualnie obowiązującymi przepisamu prawa, jest zwiększenie bezpieczeństwa użytkowników danej przestrzeni oraz zakładów pracy. Wykwalifikowani trenerzy oraz inspektorzy ochrony ppoż. przekażą informacje na temat właściwego zachowania się w czasie zagrożenia pożarem.'
      legalHeading='Teoria i Praktyka'
      legalContent='Podczas szkolenia będą Państwo mogli poznać m.in. procedury przeciwpożarowe oraz nauczyć się obsługiwać sprzęt gaśniczy. Każde szkolenie z zakresu ochrony przed pożarem rozpoczyna się od części teoretycznej, podczas której uczestnicy uczą się o profilaktyce przeciwpożarowej. Następnie mają okazję do praktycznego zastosowania zdobytej wiedzy. Pod opieką instruktora, każdy uczestnik będzie miał szansę na praktyczne wypróbowanie różnych typów gaśnic. Praca z gaśnicami mgłowymi, śniegowymi, pianowymi, proszkowymi oraz specjalistycznymi urządzeniami do gaszenia pożarów elektronicznych umożliwi poznanie metody uruchamiania tych urządzeń i ocenę ich efektywności.'
      legalHeadingTwo='Zasadność szkolenia PPOŻ'
      legalContentTwo='Szkolenia PPOŻ służą zabezpieczeniu zdrowia, życia, majątku oraz środowiska naturalnego przed działaniem ognia lub katastrofami naturalnymi. Ich znaczenie rozciąga się również na obszar relacji pracowniczych. Szkolenie z zakresu przeciwdziałania pożarom i ewakuacji jest przeznaczone dla wszystkich pracowników firmy, bez względu na zajmowaną pozycję, zwłaszcza dla tych, którzy mają obowiązek przeprowadzania ewakuacji i podejmowania działań gaśniczych'
    />
  </main>
</Layout>

<style>
  .welcome {
    background-color: rgb(206, 110, 102);
    background-image: url('/hero-fireman2-mb.webp');
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 70px 20px;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0, 100% 91%, 75% 100%, 0 93%);
    gap: 20px;
  }
  .description {
    color: var(--base-wh);
    font-size: clamp(0.7rem, 0.9rem, 1rem);
    font-family: var(--roboto-font);
    line-height: 27px;
  }
  @media (min-width: 900px) {
    .welcome {
      flex-direction: row;
      padding: 120px 50px 120px 50px;
      background-position: center -150px;
      background-image: url('/hero-fireman2.webp');
    }
  }
</style>
