---
import { Image } from 'astro:assets';
import FooterSection from '../FooterSection/FooterSection';
import logo from '../../assets/logo2.webp';
import { Icon } from 'astro-icon/components';

---

<section class='contact-container'>
  <div>
    <div class="contact-logo">
      <Image class='logo' src={logo} alt={'logo-icon'}/>
    </div>
    <ul class="contact-links">
      <li><Icon class='icon' name="arrow-right"  width={30} height={30} /><a href="/">O firmie</a></li>
      <li><Icon class='icon' name="arrow-right"  width={30} height={30} /><a href="/">Oferta</a></li>
      <li><Icon class='icon' name="arrow-right"  width={30} height={30} /><a href="/">Cennik</a></li>
      <li><Icon class='icon' name="arrow-right"  width={30} height={30} /><a href="/">Kontakt</a></li>
    </ul>
    <div class="contact-socials-wrapper">
      <a aria-label="facebook icon" href="/">
        <Icon name="facebook" class='icon' width={40} height={40}/>
      </a>
      <a aria-label="linkedin icon" href="/">
        <Icon name="linkedin" class='icon' width={45} height={45}/>
      </a>
      <a aria-label="google map icon" href="https://www.google.com/maps?cid=2077120573691676647">
        <Icon name="google-map" class='icon' width={45} height={45}/>
      </a>
    </div>
  </div>
  <FooterSection client:load/>
</section>

<style>
  .contact-container {
    clip-path: polygon(65% 0, 100% 6%, 100% 100%, 0 100%, 0 10%);
    display: flex;
    background-color: rgb(38, 41, 66);
    background-image: url('../../assets/hero-fireman2-mb.webp');
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 80px 20px 20px 20px;
    position: relative;
    gap: 20px;
  }
  .contact-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-logo {
    margin-top: 20px;
    width: 200px;
  }
  .contact-logo .logo {
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
  }
  .contact-links {
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: flex-start;
  }
  .icon {
    color: var(--base-gold);
  }
  .contact-links li {
    list-style: none;
    display: flex;
    align-items: center;
  }
  .contact-links li a {
    color: var(--base-wh);
  }
  .contact-links li a:hover {
    opacity: .8;
  }
  .contact-socials-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-left: 30px;
    min-width: 200px;
    gap: 20px;
    flex-direction: row !important;
  }
  @media(min-width:900px) {
    .contact-container {
        background-position: center -150px;
    }
    .contact-container div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 30px;
      width: 100%;
    }
    .contact-logo {
      width: 300px;
      margin-top: 0;
    }
    .contact-socials-wrapper {
      margin-top: 0;
      padding-left: 0;
    }
    .contact-links {
      flex-direction: row;
      gap: 40px;
      align-items: center;
    }
    .contact-links li {
      width: 100px;
    }
  }
</style>
