---

---

<section class='service-container'>
  <div class='service-header'>
    <h1 class='service-title'>Profesjonalna ochrona przeciwpożarowa i BHP</h1>
    <p class='service-description'>
      Zaufaj naszej firmie MR - POŻ i zyskaj fachową pomoc w zakresie ochrony
      przeciwpożarowej oraz bezpieczeństwa i higieny pracy. Nasze usługi są
      zgodne z aktualnymi przepisami i gwarantują rzetelność oraz terminowość
      realizacji.
    </p>
    <div class='service-navigation'>
      <button class='button about-us'>O Nas</button>
      <button class='button contact-us'>Skontaktuj się</button>
    </div>
  </div>
  <div class='service-image'>
    <img
      src='https://cdn.builder.io/api/v1/image/assets/TEMP/30e7c37ae593096118d857c33cc472ae44ad44dd24fedf1e9c488fe4bae83a45?apiKey=6e6f4c0794f94e708a81bd10e9901803'
      alt='Relevant description of the image'
      class='image'
    />
  </div>
</section>

<style>
  .service-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }

  .service-title {
    font-size: clamp(2.3rem, 2vw, 3.5rem);
    color: #000;
    font-family: var(--main-font);
    margin-bottom: 24px;
  }
  .service-header {
    margin: 40px 4px 0;
  }
  .service-image {
    margin: 40px 0 0;
  }
 
  .service-description {
    color: #000;
    font-family: var(--roboto-font);
    line-height: 27px;
  }

  .service-navigation {
    display: flex;
    gap: 16px;
    font-size: 16px;
    margin-top: 24px;
  }

  .button {
    font-family: var(--roboto-font);
    border: 1px solid #000;
    padding: 12px 24px;
    cursor: pointer;
  }

  .about-us {
    background-color: #000;
    color: #fff;
  }

  .contact-us {
    color: #000;
  }
  .image {
    width: 100%;
    aspect-ratio: 0.96;
    object-fit: contain;
  }

  @media (min-width: 900px) {
    .service-container {
      flex-direction: row;
      padding: 50px;
    }
    .service-title {
      font-size: 3.5rem;
    }
  }
</style>
