---
import HeadingsForSection from '../../layouts/HeadingsForSection.astro';
---

<section class='welcome-container'>
  <div class='welcome-header'>
    <HeadingsForSection heading="Profesjonalne usługi przeciwpożarowe i ochrona obiektów"/>
    <!-- <h1 class='welcome-title'>Profesjonalna ochrona przeciwpożarowa i BHP</h1> -->
    <p class='welcome-description'>
      Zaufaj naszej firmie MR - POŻ i zyskaj fachową pomoc w zakresie ochrony
      przeciwpożarowej oraz bezpieczeństwa i higieny pracy. Nasze usługi są
      zgodne z aktualnymi przepisami i gwarantują rzetelność oraz terminowość
      realizacji.
    </p>
    <div class='welcome-navigation'>
      <a class='link about-us' href="/o-firmie">O Nas</a>
      <a class='link contact-us' href="/kontakt">Skontaktuj się</a>
    </div>
  </div>
</section>

<style>
  .welcome-container {
    background-color: rgb(206, 110, 102);
    background-image: url('/hero-fireman2-mb.webp');
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 70px 20px;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0, 100% 91%, 75% 100%, 0 93%);
    gap: 20px;
  }
  /* .welcome-title {
    font-size: clamp(2.3rem, 2.5vw, 3rem);
    color: var(--base-wh);
    font-family: var(--main-font);
    margin-bottom: 24px;
  } */
  .welcome-header {
    margin: 40px 4px 0;
  }

  .welcome-description {
    color: var(--base-wh);
    font-family: var(--roboto-font);
    line-height: 27px;
  }

  .welcome-navigation {
    display: flex;
    gap: 16px;
    font-size: 16px;
    margin-top: 24px;
  }

  .link {
    font-family: var(--roboto-font);
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    color: var(--base-wh);
  }

  .about-us {
    background-color:var(--base-gold);
    outline: none;
    color: var(--base-wh);
    transition: all .2s ease-in;
  }
  .about-us:hover {
    color: var(--base-black);
    background-color: var(--base-wh);
  }

  .contact-us {
    color: var(--base-black);
    background-color: var(--base-wh);
    transition: all .2s ease-in;
  }
  .contact-us:hover {
    background-color:var(--base-gold);
    color: var(--base-wh);
  }
  .welcome-image {
    margin: 40px 0 0;
  }
  .image {
    width: 100%;
    object-fit: contain;
  }

  @media (min-width: 900px) {
    .welcome-container {
      flex-direction: row;
      padding: 70px 50px 70px 50px;
      background-position: center -150px;
      background-image: url('/hero-fireman2.webp');
    }
    .welcome-title {
      font-size: 3.5rem;
    }
    .welcome-header {
      max-width: 1000px;
    }
  }
  @media (max-width: 425px) {
    .welcome-container {
      background-position: -190px;
    }
  }
</style>
