---

---

<section>
  <div class='contact-container'>
    <div>
      <p>Zapraszamy do skontaktowania się w godzinach 09-18</p>
      <p>666 305 512</p>
    </div>
    <a href='/'>Skontaktuj się z nami</a>
  </div>
</section>

<style>
  .contact-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 120px 20px 40px 20px;
    background-color: rgb(165, 92, 3);
    background-image: url('/pattern.webp');
    background-position: center -10px;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 95%;
    margin: auto;
    margin-top: -100px;
  }
  
  .contact-container a {
    color: var(--sub-black);
    padding: 20px 70px;
    width: fit-content;
    font-family: var(--tilium-regular);
    text-transform: uppercase;
    background-color: var(--base-wh);
    transition: 0.2s all ease-in;
  }
  .contact-container a:hover {
    color: var(--base-wh);
    background-color: var(--base-red);
  }
  .contact-container div p {
    font-family: var(--tilium-regular);
    color: var(--base-wh);
    font-size: clamp(1.5rem,2rem, 2rem);
  }
  .contact-container div p:nth-of-type(2) {
    font-family: var(--tilium-bold);
    letter-spacing: 1px;
    font-size: 2.5rem;
  }
  @media (min-width: 900px) {
    .contact-container {
      flex-direction: row;
      gap: 100px;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      padding: 120px 150px 80px 50px;
    }
    .contact-container div p:nth-of-type(2) {
      font-size: 2.5rem;
    }
    .contact-container div {
    padding-top: 40px;
  }
  }
</style>
