---
import { Image } from 'astro:assets';

interface Props {
  imgSrc: ImageMetadata;
  title: string;
  description: string;
  alt: string;
}

const { imgSrc, title, description, alt } = Astro.props as Props;
---

<div class='service-card'>
  <Image class='service-img' src={imgSrc} alt={alt} />
  <h2 class='service-title'>{title}</h2>
  <p class='service-text'>{description}</p>
</div>

<style>
  .service-card {
    box-shadow: 0px 4px 19px -17px rgb(136, 135, 135);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: var(--main-font);
    margin-top: 15px;
    border: none;
    word-break: break-word;
    background-color: var(--base-wh);
  }
  .service-title {
    padding: 20px 20px 10px 20px;
  }
  
  .service-title {
    color: var(--base-red);
    /* margin-top: 7px;
    margin-bottom: 7px; */
    font-size: clamp(0.9rem, 1rem, 1.1rem);
  }
  .service-text {
    color: var(--sub-black);
    font-size: clamp(0.8rem, 0.9rem, 1rem);
    line-height: 24px;
    padding: 0px 20px 20px 20px;
  }
  .service-img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  @media (min-width: 900px) {
    .service-card {
      gap: 20px;
      max-width: 95%;
    }
    .service-img {
      
    }
  }
</style>
