---
import Layout from '../layouts/Layout.astro';
import HeadersLinks from '../components/SharedComponents/HeadersLinks';
import HeadingsForSection from '../layouts/HeadingsForSection.astro';
import { Icon } from 'astro-icon/components';
import BorderLine from '../components/SharedComponents/BorderLine.astro';
import PriceListTable from '../components/PriceListSubPage/PriceListTable.astro';
---

<Layout title='Cennik naszych usług przeciwpożarowych'>
  <main>
    <div class='prices-welcome'>
      <div>
        <HeadersLinks
          href1='/'
          title1='Strona Główna'
          href2='/uslugi'
          title2='Cennik'
        />
        <HeadingsForSection heading='Cennik naszych usług' />
        <p class='prices-description'>
          Stworzylismy prosty cennik usług przeciwpożarowych, by każdy klient
          znał koszt ochrony przed ogniem.
        </p>
      </div>
    </div>

    <section class='prices-section'>
      <div class='border'>
        <BorderLine />
      </div>
      <h2>Przygotowaliśmy dla Państwa cennik usług firmy MR-POŻ</h2>
      <p>
        Poniżej przedstawiamy zakres usług wraz z wyceną. Cennik ma charakter
        poglądowy, ponieważ na koszt usługi ma wpływ zakres podjętej współpracy.
      </p>
      <!-- <h3>Zapraszamy do kontaktu</h3> -->

      <PriceListTable />

    </section>
  </main>
</Layout>

<style>
  .prices-welcome {
    background-color: rgb(206, 110, 102);
    background-image: url('/hero-fireman2-mb.webp');
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 70px 20px;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0, 100% 91%, 75% 100%, 0 93%);
    gap: 20px;
  }
  .prices-description {
    color: var(--base-wh);
    font-family: var(--roboto-font);
    line-height: 27px;
  }
  .border {
    margin-left: -20px;
  }
  .prices-section {
    padding: 20px;
  }
  .prices-section h2,
  .prices-section p {
    margin-top: 20px;
    font-family: var(--main-font);
  }
  

  @media (min-width: 900px) {
    .prices-welcome {
      flex-direction: row;
      padding: 120px 50px 120px 50px;
      background-position: center -150px;
      background-image: url(/hero-fireman2.webp);
    }
    .prices-section h2 {
        text-align: center;
        font-size: 2rem;
    }
    .prices-section p {
        text-align: center;
    }
  }
</style>
