---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
import HeadingsForSection from '../layouts/HeadingsForSection.astro';
import HeadersLinks from '../components/SharedComponents/HeadersLinks';
---

<Layout title='Informacje o naszej firmie'>
  <section>
    <div class='company-welcome'>
      <div>
        <HeadersLinks
          href1='/'
          title1='Strona Główna'
          href2='/company'
          title2='O firmie'
        />
        <HeadingsForSection heading='Nasza Misja' />
        <p class='company-description'>
          Twoje bezpieczeństwo naszą misją: instrukcje, szkolenia i nadzór
          pożarowy.
        </p>
      </div>
    </div>
    <div class='company-info'>
      <div class='info-left'>
        <h2 class='info-header'>
          Działamy na rynku ochrony przeciwpożarowej od wielu lat, zapewniając
          fachową pomoc i terminową realizację zleceń.
        </h2>
        <p>
          Firma MR - POŻ specjalizuje się w usługach z zakresu ochrony
          przeciwpożarowej, bezpieczeństwa i higieny pracy. Nasze doświadczenie
          oraz zaangażowanie w zapewnianie bezpieczeństwa przeciwpożarowego są
          gwarancją rzetelnie wykonanej usługi.
        </p>
        <div class='info-services-container'>
          <h3>Specjalizujemy się m.in w usługach:</h3>
          <div class='services'>
            <div class='services-text'>
              <Icon name='arrow-right' width={24} height={24} />
              <p>Opracowanie Instrukcji Bezpieczeństwa Pożarowego</p>
            </div>
            <div class='services-text'>
              <Icon name='arrow-right' width={24} height={24} /><p>
                Opracowanie Instrukcji Postępowania w przypadku powstania pożaru
                lub innego miejscowego zagrożenia w miejscu i w czasie imprezy
                masowej
              </p>
            </div>
            <div class='services-text'>
              <Icon name='arrow-right' width={24} height={24} />
              <p>Szkolenia z zakresu ochrony przeciwpożarowej</p>
            </div>
            <div class='services-text'>
              <Icon name='arrow-right' width={24} height={24} />
              <p>
                Przygotowanie obiektów do odbiorów i kontroli przeprowadzanych
                przez PSP
              </p>
            </div>
            <div class='services-text'>
              <Icon name='arrow-right' width={24} height={24} />
              <p>Przegląd i konserwację gaśnic</p>
            </div>
            <div class='services-text'>
              <Icon name='arrow-right' width={24} height={24} />
              <p>
                Przegląd i konserwację hydrantów wewnętrznych i węży
                hydrantowych
              </p>
            </div>
            <div class='services-text'>
              <Icon name='arrow-right' width={24} height={24} />
              <p>Przegląd i konserwację awaryjnego oświetlenia ewakuacyjnego</p>
            </div>
            <div class='services-text'>
              <Icon name='arrow-right' width={24} height={24} />
              <p>Opracowanie planów ewakuacyjnych</p>
            </div>
          </div>
          <!-- <div class='info-box'>
            <p class='text-one'>Ponad</p>
            <p class='text-two'>30 +</p>
            <span>Zaufanych Klientów</span>
          </div> -->
        </div>
      </div>

      <div class='info-right'>
        <img
          loading='lazy'
          src='https://cdn.builder.io/api/v1/image/assets/TEMP/695e35fe9375ed813e9267c48b6e6e0ed2c5303c0a4eb46842040dcb8370ac1e?apiKey=6e6f4c0794f94e708a81bd10e9901803&'
          class='responsive-img'
          alt='Firma MR-POŻ symbol'
        />
        <div class='info-box'>
          <p class='text-one'>Sprawdź pozostałe</p>
          <a href="/" class='text-two'><Icon name="hand"/>Usługi</a>
        </div>
      </div>

    </div>
  </section>
</Layout>

<style>
  .company-welcome {
    background-color: rgb(206, 110, 102);
    background-image: url('../../src/assets/hero-fireman2-mb.webp');
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 70px 20px;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0, 100% 91%, 75% 100%, 0 93%);
    gap: 20px;
  }
  .company-description {
    color: var(--base-wh);
    font-family: var(--roboto-font);
    line-height: 27px;
  }
  .company-info {
    padding: 30px 20px 70px 20px;
    margin-block: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    width: 100%;
  }
  .info-left {
    width: 100%;
    position: relative;
  }
  .info-left p {
    font-family: var(--roboto-font);
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    font-weight: 300;
    color: var(--sub-black);
    line-height: 24px;
  }
  .info-header {
    font-size: clamp(1.5rem, 1.8vw, 2.8rem);
    color: var(--base-black);
    font-family: var(--main-font);
    margin-bottom: 24px;
  }
  .info-services-container {
    display: flex;
    flex-direction: column;
  }
  .info-services-container h3 {
    margin-top: 20px;
    color: var(--base-red);
    margin-bottom: 10px;
    font-family: var(--roboto-font);
  }
  .services-text {
    display: flex;
    align-items: flex-start;
  }
  .services p {
    outline-color: var(--sub-black);
    font-size: clamp(0.9rem, 1vw, 1.1rem);
    line-height: 26px;
    flex: 1;
  }
  .info-right {
    width: fit-content;
    position: relative;
  }
  .info-right img {
    width: 100%;
  }
  .info-box {
    position: absolute;
    bottom: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
    flex-direction: column;
    box-shadow: 1px 11px 24px -11px rgba(0, 0, 0, 1);
    left: 10%;
    min-width: 80%;
    
    background-color: rgb(245, 240, 240, 1);
  }
  .info-box a {
    margin-top: 5px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    transition: .2s all ease-in;
  }
  .info-box a:hover {
    gap: 10px;
  }
  .text-one,
  .text-two {
    font-family: var(--roboto-font);
    font-weight: 700;
  }
  .text-one {
    font-size: 1.6rem;
  }
  .text-two {
    color: var(--base-gold);
    font-size: 2rem;
  }
 
  @media (min-width: 900px) {
    .company-welcome {
      flex-direction: row;
      padding: 120px 50px 120px 50px;
      background-position: center -150px;
      background-image: url('../../src/assets/hero-fireman2.webp');
    }
    .company-info {
      margin-block: 100px;
      flex-direction: row;
      gap: 80px;
      padding: 0px 50px 70px 50px;
    }
    .info-left {
      max-width: 50%;
    }
    .info-right img {
      max-height: 500px;
    }
    .info-box {
      min-width: 80%;
      left: -17%;
      bottom: -30px;
    }
  }
</style>
