---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection/HeroSection.astro';
import AboutSection from '../components/AboutSection/AboutSection.astro';
import OfferSection from '../components/OfferSection/OfferSection.astro';
import CommentarySection from '../components/CommentarySection/CommentarySection.astro'; 
import CallToAction from '../components/CallToActionSection/CallToAction.astro'
import BorderLine from '../components/SharedComponents/BorderLine.astro';
---

<Layout title='Usługi przeciwpożarowe Olsztyn i okolice'>
  <main>
    <HeroSection />
    <AboutSection />
    <OfferSection />
    <CommentarySection />
    <BorderLine />
    <CallToAction />
  </main>
</Layout>

<style>
  h1 {
    color: black;
  }
</style>
