---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection/HeroSection.astro';
import AboutSection from '../components/AboutSection/AboutSection.astro';
import OfferSection from '../components/OfferSection/OfferSection.astro';
import CommentarySection from '../components/CommentarySection/CommentarySection.astro'; 
---

<Layout title='Witaj na stronie poświęconej bezpieczeństwu przeciwpożarowemu'>
  <main>
    <HeroSection />
    <AboutSection />
    <OfferSection />
    <CommentarySection />
  </main>
</Layout>

<style>
  h1 {
    color: black;
  }
</style>
