---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection/HeroSection.astro'
---

<Layout title='Witaj na stronie poświęconej bezpieczeństwu przeciwpożarowemu'>
  <main>
    <HeroSection />
  </main>
</Layout>

<style>
  h1 {
    color: black;
  }
</style>
