---
import Layout from '../layouts/Layout.astro';
import HeadersLinks from '../components/SharedComponents/HeadersLinks';
import HeadingsForSection from '../layouts/HeadingsForSection.astro';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import bgImg from '../assets/hero-fireman4.webp';
---

<Layout title='Cennik naszych usług przeciwpożarowych'>
  <main>
    <div class='contact-welcome'>
      <div>
        <HeadersLinks
          href1='/'
          title1='Strona Główna'
          href2='/uslugi'
          title2='Kontakt'
        />
        <HeadingsForSection heading='Zapraszamy do kontaktu' />
        <p class='contact-description'>
          Skontaktuj się z nami już dziś, aby zapewnić sobie i swojej firmie
          najwyższy poziom ochrony przeciwpożarowej
        </p>
      </div>
    </div>

    <section class='contact-section'>
      <div class='contact-container'>
        <div class='contact-left-wrapper'>
          <h1>Kontakt</h1>
          <h2>
            Jesteśmy dla Państwa dostępni od poniedziałku do soboty w godz. 8-18
          </h2>
          <h3>
            Działamy nie tylko w Olsztynie. Nasza działalność obejmuje również
            teren całego województwa warmińsko-mazurskiego m.in.: <span
              >Ostródę, Iławę, Giżycko, Nidzica, Olsztynek, Lidzbark Warmiński,
              Bartoszyce, Elbląg, Węgorzewo, Mrągowo, Morąg czy Kętrzyn</span>
          </h3>
          <p>
            Ze wzlędu na charakter naszej pracy, możemy odezwać się w
            późniejszym terminie
          </p>
          <div class='contact-icons'>
            <a href='mailto:sdsd@wp.pl'>
              <Icon name='mail' width={24} height={24} />
              e-mail: mr-poz@wp.pl</a
            >

            <a href='tel:+48666305512'>
              <Icon name='phone' width={24} height={24} />
              kom: 666 305 512</a
            >
          </div>

          <div class='contact-company-info'>
            <h3>Dane firmy:</h3>
            <h4>MR - POŻ Usługi Przeciwpożarowe</h4>
            <h4>Mateusz Rudaś</h4>
            <p>10-376 Nikielkowo, ul. Flaminga 28</p>
            <p>NIP 7441757084</p>
            <p>REGON 521407675</p>
            <h3>Zapraszamy!</h3>
          </div>
        </div>
        <div class='contact-right-wrapper'>
          <Image class='contact-img' src={bgImg} alt={'fireman'} />
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    background-color: #f6f0f0;
  }
  .contact-welcome {
    background-color: rgb(130, 62, 56);
    background-image: url('/hero-fireman3-mb.webp');
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 70px 20px;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0, 100% 91%, 75% 100%, 0 93%);
    gap: 20px;
  }
  .contact-description {
    color: var(--base-wh);
    font-family: var(--roboto-font);
    line-height: 27px;
  }
  .contact-section {
    padding: 20px;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    font-family: var(--roboto-font);
  }
  .contact-left-wrapper h1 {
    font-family: var(--main-font);
    font-size: 4.5rem;
    margin-bottom: 20px;
    color: var(--base-black);
    letter-spacing: 1px;
    line-height: normal;
  }
  .contact-left-wrapper h2 {
    margin-bottom: 25px;
    font-size: clamp(1.2rem, 1.6vw, 2rem);
    color: var(--base-gold);
  }
  .contact-left-wrapper > h3:nth-child(3) {
    color: var(--sub-black);
    margin-bottom: 30px;
  }
  .contact-left-wrapper > h3:nth-child(3) > span:nth-child(1) {
    color: var(--base-red);
  }
  .contact-left-wrapper > p:nth-child(3) {
    margin-bottom: 20px;
    font-size: clamp(1rem, 1.1vw, 1.2rem);

    color: var(--sub-black);
  }
  .contact-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  .contact-icons a {
    display: flex;
    color: var(--sub-black);
    align-items: center;
    font-size: clamp(1rem, 1.2vw, 1.3rem);

    gap: 15px;
  }
  .contact-left-wrapper h3 {
    margin-bottom: 10px;
  }
  .contact-company-info h3 {
    color: var(--base-red);
    font-size: clamp(1.2rem, 1.5rem, 2rem);
  }
  .contact-company-info h4 {
    margin-bottom: 5px;
    line-height: normal;
    font-size: clamp(1rem, 1.2vw, 1.6rem);
    letter-spacing: 1px;
  }
  .contact-company-info p {
    line-height: 36px;
    font-size: clamp(1rem, 1vw, 1.3rem);

    color: var(--sub-black);
  }
  .contact-company-info > h3:nth-child(7) {
    margin-top: 10px;
    text-transform: uppercase;
  }
  .contact-right-wrapper {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .contact-img {
    object-fit: contain;
    height: auto;
    width: 90%;
  }
  @media (min-width: 900px) {
    .contact-welcome {
      flex-direction: row;
      padding: 120px 50px 120px 50px;
      background-position: center -150px;
      background-image: url('/hero-fireman3.webp');
    }
  }
  @media (min-width: 650px) {
    .contact-container {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 60px 40px 0 40px;
      max-width: 1140px;
      margin: 50px auto 0 auto;
    }
    .contact-left-wrapper {
      width: 50%;
    }
    .contact-right-wrapper {
      width: 50%;
    }
  }
</style>
