---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import fireman from '../assets/fireman3.webp';
import HeadingsForSection from '../layouts/HeadingsForSection.astro';
import HeadersLinks from '../components/SharedComponents/HeadersLinks';
import AdvantagesCard from '../components/SharedComponents/AdvantagesCard.astro';
---

<Layout title='Informacje o naszej firmie'>
  <section>
    <div class='company-welcome'>
      <div>
        <HeadersLinks
          href1='/'
          title1='Strona Główna'
          href2='/o-firmie'
          title2='O firmie'
        />
        <HeadingsForSection heading='Nasza Misja' />
        <p class='company-description'>
          Twoje bezpieczeństwo naszą misją: instrukcje, szkolenia i nadzór
          pożarowy.
        </p>
      </div>
    </div>

    <div class='company-info'>
      <div class='info-left'>
        <h2 class='info-header'>
          Działamy na rynku ochrony przeciwpożarowej od wielu lat, zapewniając
          fachową pomoc i terminową realizację zleceń.
        </h2>
        <p>
          Firma MR - POŻ specjalizuje się w usługach z zakresu ochrony
          przeciwpożarowej. Nasze doświadczenie oraz zaangażowanie w zapewnianie
          bezpieczeństwa przeciwpożarowego są gwarancją rzetelnie wykonanej
          usługi.
        </p>
        <div class='info-services-container'>
          <h3>Specjalizujemy się m.in w usługach:</h3>
          <div class='services'>
            <div class='services-text'>
              <Icon name='arrow-right' width={24} height={24} />
              <p>Opracowanie Instrukcji Bezpieczeństwa Pożarowego</p>
            </div>
            <div class='services-text'>
              <Icon name='arrow-right' width={24} height={24} /><p>
                Opracowanie Instrukcji Postępowania w przypadku powstania pożaru
                lub innego miejscowego zagrożenia w miejscu i w czasie imprezy
                masowej
              </p>
            </div>
            <div class='services-text'>
              <Icon name='arrow-right' width={24} height={24} />
              <p>Szkolenia z zakresu ochrony przeciwpożarowej</p>
            </div>
            <div class='services-text'>
              <Icon name='arrow-right' width={24} height={24} />
              <p>
                Przygotowanie obiektów do odbiorów i kontroli przeprowadzanych
                przez PSP
              </p>
            </div>
            <div class='services-text'>
              <Icon name='arrow-right' width={24} height={24} />
              <p>Przegląd i konserwację gaśnic</p>
            </div>
            <div class='services-text'>
              <Icon name='arrow-right' width={24} height={24} />
              <p>
                Przegląd i konserwację hydrantów wewnętrznych i zewnętrznych oraz węży
                hydrantowych
              </p>
            </div>
            <div class='services-text'>
              <Icon name='arrow-right' width={24} height={24} />
              <p>Przegląd i konserwację awaryjnego oświetlenia ewakuacyjnego</p>
            </div>
            <div class='services-text'>
              <Icon name='arrow-right' width={24} height={24} />
              <p>Opracowanie planów ewakuacyjnych</p>
            </div>
            <div class='services-text'>
              <Icon name='arrow-right' width={24} height={24} />
              <p>Zabezpieczanie imasowych w zakresie PPOŻ i pierwszej pomocy</p>
            </div>
            <div class='services-text'>
              <Icon name='arrow-right' width={24} height={24} />
              <p>Przegląd i konserwacja przeciwpożarowych wyłączników prądu</p>
            </div>
            <div class='services-text'>
              <Icon name='arrow-right' width={24} height={24} />
              <p>Przegląd i konserwacja systemów oddymiania</p>
            </div>
          </div>
        </div>
      </div>

      <div class='info-right'>
        <Image src={fireman} class='info-img' alt='Firma MR-POŻ symbol' />
        <div class='info-box'>
          <p class='text-one'>Sprawdź pozostałe</p>
          <a href='/uslugi' class='text-two'
            ><Icon name='double-arrow' />Usługi<Icon
              name='double-arrow-left'
            /></a
          >
        </div>
      </div>
    </div>

    <div class='advantages-section' id='about'>
      <h2 class='heading'>Co nas wyróżnia na tle konkurencji?</h2>
      <AdvantagesCard />
      <!-- <OfferSection /> -->
    </div>

    <div class='contact-container'>
      <div>
        <p>Jesteśmy dostępni w godzinach 8-18</p>
        <p>666 305 512</p>
      </div>
      <a href='/'>Skontaktuj się z nami</a>
    </div>

    <div class='company-quality'>
      <div class='quality-up'>
        <div class='quality-titles-wrapper'>
          <p class='quality-upper-title'>Profesjonalizm</p>
          <h2 class='quality-heading'>
            Zależy nam na Państwa bezpieczeństwu i jakości świadczonych usług
          </h2>
        </div>
        <div class='quality-text-wrapper'>
          <p class='quality-text'>
            Nasza firma, MR - POŻ, oddaje się wyzwaniom w dziedzinie ochrony
            przeciwpożarowej. Stawiając na pierwszym miejscu bezpieczeństwo
            naszych klientów oraz niezmiennie wysoką jakość usług, zobowiązujemy
            się do nieustannego doskonalenia i przekraczania standardów
            branżowych. Nasz zespół, wyposażony w głęboką wiedzę i
            zaangażowanie, koncentruje się na dostarczaniu rozwiązań skrojonych
            na miarę wyzwań, przed którymi stają nasi klienci. To zaangażowanie
            przekłada się na liczbę przeprowadzonych szkoleń i audytów, które są
            świadectwem naszego doświadczenia i nieustającej misji zapewnienia
            spokoju i bezpieczeństwa.
          </p>
        </div>
      </div>
      <div class='quality-down'>
        <div class='numbers-wrapper'>
          <p>100%</p>
          <span>Zadowolonych klientów</span>
        </div>
        <div class='numbers-wrapper'>
          <p>100%</p>
          <span>Wysokiej jakości usług</span>
        </div>
        <div class='numbers-wrapper'>
          <p>100%</p>
          <span>Profesjonalnego doradztwa</span>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  .company-welcome {
    background-color: rgb(206, 110, 102);
    background-image: url('/hero-fireman2-mb.webp');
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 70px 20px;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0, 100% 91%, 75% 100%, 0 93%);
    gap: 20px;
  }
  .company-description {
    color: var(--base-wh);
    font-family: var(--roboto-font);
    line-height: 27px;
  }
  .company-info {
    padding: 30px 20px 70px 20px;
    margin-block: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    width: 100%;
  }
  .heading {
    font-size: clamp(2rem, 2vw, 3rem);
    color: var(--base-wh);
    font-family: var(--main-font);
    margin-top: 70px;
    padding-bottom: 10px;
    margin-bottom: 64px;
    border-bottom: 2px solid var(--line-red);
  }
  .info-left {
    width: 100%;
    position: relative;
  }
  .info-left p {
    font-family: var(--roboto-font);
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    font-weight: 300;
    color: var(--sub-black);
    line-height: 24px;
  }
  .info-header {
    font-size: clamp(1.5rem, 1.8vw, 2.8rem);
    color: var(--base-black);
    font-family: var(--main-font);
    margin-bottom: 24px;
  }
  .info-services-container {
    display: flex;
    flex-direction: column;
  }
  .info-services-container h3 {
    margin-top: 20px;
    color: var(--base-red);
    margin-bottom: 10px;
    font-family: var(--roboto-font);
  }
  .services-text {
    display: flex;
    align-items: flex-start;
  }
  .services p {
    outline-color: var(--sub-black);
    font-size: clamp(0.9rem, 1vw, 1.1rem);
    line-height: 26px;
    flex: 1;
  }
  .info-right {
    width: fit-content;
    position: relative;
  }
  .info-right img {
    width: 100%;
    margin-top: 30px;
  }
  .info-box {
    position: absolute;
    top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
    flex-direction: column;
    box-shadow: 1px 11px 24px -11px rgba(0, 0, 0, 1);
    left: 10%;
    min-width: 80%;

    background-color: rgb(245, 240, 240, 1);
  }
  .info-box a {
    margin-top: 5px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    transition: 0.2s all ease-in;
  }
  .info-box a:hover {
    gap: 10px;
  }
  .text-one,
  .text-two {
    font-family: var(--roboto-font);
    font-weight: 700;
  }
  .text-one {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
  }
  .text-two {
    color: var(--base-gold);
    font-size: 2rem;
  }
  .info-img {
    object-fit: contain;
    height: auto;
  }
  .advantages-section {
    padding: 20px;
    display: flex;
    margin-top: 100px;
    color: var(--base-gold);
    background-image: linear-gradient(
      to right top,
      #460816,
      #5d071b,
      #75051e,
      #8d0320,
      #a50321
    );
    flex-direction: column;
    align-items: center;
  }
  .company-quality {
    margin-top: 60px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .quality-up {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
  .quality-upper-title {
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-family: var(--main-font);
    letter-spacing: 2px;
    color: var(--base-gold);
  }
  .quality-heading {
    font-size: clamp(2rem, 2vw, 3rem);
    color: var(--base-black);
    font-family: var(--main-font);
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 14px;
  }
  .quality-text {
    font-family: var(--main-font);
    line-height: 26px;
  }
  .quality-down {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .numbers-wrapper {
    border-left: 2px solid var(--base-red);
    padding: 10px 40px 10px 10px;
  }
  .numbers-wrapper p {
    font-family: var(--roboto-font);
    font-size: 3rem;
  }
  .numbers-wrapper span {
    font-family: var(--main-font);
    font-weight: 700;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 80px 20px 80px 20px;
    background-color: rgb(165, 92, 3);
    background-image: url('/pattern.webp');
    background-position: center -10px;

    background-repeat: no-repeat;
    background-size: cover;
  }
  .contact-container a {
    color: var(--sub-black);
    padding: 20px 30px;
    width: fit-content;
    font-family: var(--tilium-regular);
    text-transform: uppercase;
    background-color: var(--base-wh);
    transition: 0.2s all ease-in;
  }
  .contact-container a:hover {
    color: var(--base-wh);
    background-color: var(--base-red);
  }
  .contact-container div p {
    font-family: var(--tilium-regular);
    color: var(--base-wh);
    font-size: 2.3rem;
  }
  .contact-container div p:nth-of-type(2) {
    font-family: var(--tilium-bold);
    letter-spacing: 1px;
    font-size: 2.5rem;
  }
  @media (min-width: 900px) {
    .company-welcome {
      flex-direction: row;
      padding: 120px 50px 120px 50px;
      background-position: center -150px;
      background-image: url('/hero-fireman2.webp');
    }
    .company-info {
      margin-block: 100px;
      flex-direction: row;
      gap: 80px;
      padding: 0px 50px 70px 50px;
    }
    .contact-container {
      flex-direction: row;
      gap: 100px;
      justify-content: center;
      align-items: center;
      padding: 120px 150px 120px 50px;
    }
    .contact-container div p:nth-of-type(2) {
      font-size: 2.5rem;
    }
    .quality-up {
      padding: 50px 100px 50px 100px;
      flex-direction: row;
    }
    .quality-titles-wrapper {
      width: 50%;
    }
    .quality-text-wrapper {
      width: 50%;
    }
    .quality-down {
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 100px 50px 100px;
    }
    .info-left {
      max-width: 50%;
    }
    .info-right img {
      max-height: 500px;
    }
    .info-box {
      min-width: 80%;
      left: -17%;
      top: 83%;
      bottom: -30px;
    }
    .info-img {
      object-fit: cover;
    }
  }
</style>
