---
import Layout from '../layouts/Layout.astro';
import HeadersLinks from '../components/SharedComponents/HeadersLinks';
import HeadingsForSection from '../layouts/HeadingsForSection.astro';
import OfferCard from '../components/SharedComponents/OfferCard.astro';
import StepsSection from '../components/OfferSubPage/StepsSection.astro';
---

<Layout title='Usługi Ochrony Przeciwpożarowej: Szkolenia i Nadzór'>
  <main>
    <div class='offer-welcome'>
      <div>
        <HeadersLinks
          href1='/'
          title1='Strona Główna'
          href2='/company'
          title2='Oferta'
        />
        <HeadingsForSection heading='Nasza oferta skierowana jest do firm' />
        <p class='offer-description'>
            Kompleksowe Usługi PPOŻ: Szkolenia, Nadzór, Przeglądy i Zabezpieczenia
        </p>
      </div>
    </div>

    <section class='offers-container'>
      <h2 class='offers-header'>Usługi Ochrony Przeciwpożarowej</h2>
      <OfferCard />
    </section>

    <StepsSection />

  </main>
</Layout>

<style>
  .offer-welcome {
    background-color: rgb(206, 110, 102);
    background-image: url('../../src/assets/hero-fireman2-mb.webp');
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 70px 20px;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0, 100% 91%, 75% 100%, 0 93%);
    gap: 20px;
  }
  .offer-description {
    color: var(--base-wh);
    font-family: var(--roboto-font);
    line-height: 27px;
  }
  .offers-container {
    padding: 20px;
  }
  .offers-header {
    font-size: clamp(2rem, 2.8vw, 3rem);
    color: var(--base-black);
    font-family: var(--roboto-font);
    margin-bottom: 34px;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--base-red);
    margin-top: 80px;
    font-weight: 900;
  }
  @media (min-width: 900px) {
    .offer-welcome {
      flex-direction: row;
      padding: 120px 50px 120px 50px;
      background-position: center -150px;
      background-image: url('../../src/assets/hero-fireman2.webp');
    }
    .offers-header {
        text-align: center;
        margin: 80px auto 80px auto;
        width: 70%;
    }
  }
</style>
