---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import logo from '../../assets/logo2.webp';
import HamburgerBtn from './HamburgerBtn.astro';
---

<header>
  <nav class="'nav-container'">
    <a class='logo-link-desktop' href='/'>
      <div>
        <Image class='logo' src={logo} alt='logo-icon' />
      </div>
    </a>
    <div aria-label='primary nav' class='nav-links'>
      <a class='link' href='/company'> O firmie</a>
      <a class='link' href='/offer'> Oferta</a>
      <a class='link' href='/'> Cennik</a>
      <a class='link' href='/'> Kontakt</a>
    </div>
    <div class='contact-wrapper'>
      <a class='contact-icon' href='tel:+48888433188' aria-label='phone-link'>
        <span>mr-poz@wp.pl</span>
        <Icon class='icon' name='phone' width={24} height={24} />
      </a><span class='desk-line'>|</span>
      <a
        class='contact-icon'
        href='mailto:mr-poz@wp.pl'
        aria-label='Link to email'
      >
        <span>666-305-512</span>
        <Icon class='icon' name='mail' width={24} height={24} />
      </a>
    </div>
    <HamburgerBtn />
    <div class='nav-links-mobile'>
      <ul>
        <li><a class='link-mobile' href='/company'>O firmie</a></li>
        <li><a class='link-mobile' href='/offer'> Oferta</a></li>
        <li><a class='link-mobile' href='/'> Cennik</a></li>
        <li><a class='link-mobile' href='/'> Kontakt</a></li>
      </ul>
    </div>
  </nav>
  <div class='backdrop'></div>
</header>

<style>
  .backdrop {
    position: fixed;
    top: 0;
    display: block;
    left: 0;
    background-color: rgb(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.5s ease,
      visibility 0.5s;
  }
  .desk-line {
    display: none;
  }
  .backdrop-active {
    opacity: 1;
    visibility: visible;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    z-index: 1000;
    position: relative;
    background-color: var(--base-wh);
  }
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    z-index: 1000;
  }
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: fixed;
    top: 65px;
    left: 0;
    width: 65%;
    height: 100vh;
    display: flex;
    background: var(--base-red);
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
    gap: 40px;
    flex-direction: column;
    z-index: 19;
    transform: translateX(-150%);
    transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  }
  .active {
    transform: translateX(0);
  }
  .nav-links-mobile ul {
    padding-bottom: 240px;
    width: 80%;
  }
  .nav-links-mobile li {
    list-style: none;
  }
  .nav-links-mobile li:last-child {
    border-bottom: 1px solid rgb(228, 82, 82);
  }
  .contact-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: clamp(0.6rem, 1vw, 1rem);
    margin-left: auto;
  }
  .contact-text {
    display: none;
  }
  .contact-icon {
    font-size: clamp(0.7rem, 1vw, 1rem);
    color: var(--base-red);
  }
  .contact-icon .icon {
    display: block;
  }
  .contact-icon span {
    display: none;
  }
  .fa-solid {
    margin: 7px;
  }
  .link,
  .link-mobile {
    font-family: var(--roboto-font);
    text-align: center;
    text-decoration: none;
    border: none;
    outline: none;
    color: var(--base-black);
    min-width: 110px;
    font-weight: 400;
    padding: 0 5px;
    font-size: 1.1rem;
    position: relative;
    transition: 0.1s all ease;
  }
  .link-mobile {
    padding-block: 25px;
    border-top: 1px solid rgb(228, 82, 82);
    display: block;
    width: 80%;
    margin: auto;
    font-size: 1.2rem;
    color: var(--base-wh);
    text-transform: uppercase;
  }
  .link:after,
  .link-mobile:after {
    position: absolute;
    content: '';
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -7px;
    transition: 0.2s all ease;
  }
  .link:hover:after,
  .link:focus {
    width: 100%;
    opacity: 0.8;
  }
  .link:hover {
    opacity: 0.8;
  }
  .link-mobile:hover {
    opacity: 0.8;
  }
  .logo-link-desktop {
    display: block;
    height: auto;
    max-width: 120px;
    padding-inline: 5px;
  }
  .logo {
    width: 100%;
    height: 100%;
    display: block;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 7px;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
  }
  .burger-line {
    background-color: var(--base-black);
  }
  .burger-line:nth-child(1) {
    width: 34px;
    height: 2px;
    display: block;
  }
  .burger-line:nth-child(2) {
    width: 32px;
    height: 2px;
    display: block;
  }
  .burger-line:nth-child(3) {
    width: 30px;
    height: 2px;
    display: block;
  }
  @media (max-width: 315px) {
    .nav-container {
      justify-content: center;
    }
    .hamburger {
      padding: 0;
    }
  }
  @media (max-width: 1300px) {
    .contact-text {
      display: none;
    }
    .link,
    .contact-text {
      font-size: clamp(0.9rem, 1vw, 1rem);
    }
  }

  @media (min-width: 900px) {
    .desk-line {
      display: block;
    }
    nav {
      display: flex;
      position: static;
      justify-content: flex-start;
      align-items: center;
      padding-left: 25px;
      padding-right: 70px;
    }
    .backdrop {
      display: none;
    }

    .nav-links {
      display: flex;
      gap: 20px;
      align-items: center;
    }
    .nav-links-mobile {
      display: none;
    }
    .contact-wrapper {
      font-size: 1.1rem;
    }
    .contact-text {
      display: inline-block;
    }
    .contact-icon .icon {
      display: none;
    }
    .contact-icon span {
      display: block;
      font-family: var(--roboto-font);
    }
    .hamburger {
      display: none;
    }
  }
  @media (min-width: 1100px) {
    .nav-links {
      gap: 40px;
    }
    nav {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 120px;
    }
  }
</style>

<script>
  const hamburgerBtn = document.querySelector('.hamburger');
  const navList = document.querySelector('.nav-links-mobile');
  const navLinks = document.querySelectorAll('.link-mobile');
  const backdrop = document.querySelector('.backdrop');

  const toggleHamburger = () => {
    hamburgerBtn!.classList.toggle('is-active');
    navList!.classList.toggle('active');
    document.body.classList.toggle('sticky-body');
    backdrop!.classList.toggle('backdrop-active');
  };

  const removeSticky = () => {
    document.body.classList.remove('sticky-body');
    navList!.classList.remove('active');
    hamburgerBtn!.classList.remove('is-active');
  };

  hamburgerBtn!.addEventListener('click', toggleHamburger);

  navLinks.forEach((links) => {
    links.addEventListener('click', removeSticky);
  });
</script>
