---

---

<div class='border-line'></div>

<style>
  .border-line {
    width: 80%;
    margin-left: 20px;
    /* margin: auto; */
    padding-block: 40px;
    color: var(--sub-black);
    border-bottom: 5px solid var(--base-red);
    display: block;
  }
  @media(min-width:900px) {
    .border-line {
        margin: auto;
    }
  }
</style>
