---
import { Icon } from "astro-icon/components"
---

<section class='container'>
  <h2 class='heading'>Co nas wyróżnia na tle konkurencji?</h2>
  <div class='offer-section'>
    <!-- Repeated structure for each offer, example of one offer -->
    <div class='offer'>
      <Icon name='hydrant' width={66} height={66}/>
      <h3 class='offer-title'>Nasze atuty</h3>
      <p class='offer-desc'>
        Profesjonalne doradztwo i fachowa pomoc w zakresie przepisów
        przeciwpożarowych
      </p>
      <a class='more-info' href='/'> Dowiedz się więcej ></a>
    </div>

    <div class='offer'>
      <Icon name='timer' width={66} height={66}/>
      <h3 class='offer-title'>Szybka i terminowa realizacja</h3>
      <p class='offer-desc'>
        Zadbamy o to, aby zlecane nam zadania były wykonane szybko i terminowo
      </p>
      <a class='more-info' href='/'> Dowiedz się więcej ></a>
    </div>

    <div class='offer'>
      <Icon name='hands' width={66} height={66}/>
      <h3 class='offer-title'>Długoterminowa współpraca</h3>
      <p class='offer-desc'>
        Nasi klienci cenią naszą rzetelność i profesjonalizm, dlatego
        współpracują z nami przez wiele lat
      </p>
      <a class='more-info' href='/'> Dowiedz się więcej ></a>
    </div>

    <div class='offer'>
      <Icon name='people' width={66} height={66}/>
      <h3 class='offer-title'>
        Innowacyjne rozwiązania 
      </h3>
      <p class='offer-desc'>
        Stale poszukujemy nowych rozwiązań i technologii, aby sprostać
        wymaganiom naszych klientów
      </p>
      <a class='more-info' href='/'> Dowiedz się więcej ></a>
    </div>
    <!-- Repeat this structure for other offers following the same pattern -->
  </div>
</section>

<style>
  .container {
    /* clip-path: polygon(78% 3%, 100% 0, 100% 100%, 0 100%, 0 0%); */
    padding: 20px;
    display: flex;
    margin-top: 100px;
    color: var(--base-gold);
    background-image: linear-gradient(
      to right top,
      #460816,
      #5d071b,
      #75051e,
      #8d0320,
      #a50321
    );
    flex-direction: column;
    align-items: center;
  }
  .heading {
    font-size: clamp(2rem, 2vw, 3rem);
    color: var(--base-wh);
    font-family: var(--main-font);
    margin-top: 70px;
    margin-bottom: 64px;
  }
  .offer-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
  }
  .offer {
    background-color: var(--base-wh);
    padding: 20px;
    font-family: var(--roboto-font);
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    word-break: break-word;
    /* box-shadow: -1px 3px 13px -3px rgba(0, 0, 0, 1); */
  }
  
  .offer-title {
    color: var(--base-black);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .offer-desc {
    color: var(--sub-black);
    margin-bottom: 32px;
    line-height: 1.5;
  }
  .more-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--base-gold);
    font-weight: 700;
    cursor: pointer;
  }
  .more-info img {
    width: 24px;
    height: auto;
  }

  @media (min-width: 900px) {
    .container {
      clip-path: polygon(78% 13%, 100% 0, 100% 100%, 0 100%, 0 0%);
      padding: 50px;
    }
    .offer {
      width: calc(25% - 20px);
    }
  }
</style>
