---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import fireman from '../../assets/hero-fireman.webp';
import extinguisher from '../../assets/gasnica2.webp';
---

<section class='about-container'>
  <div class='about-header'>
    <h3>Niezawodność</h3>
    <h2 class='about-title'>
      Jesteśmy zawsze gotowi aby wesprzeć Cię naszym doświadczeniem!
    </h2>
    <div class='about-services-container'>
      <div class='about-service about-protection'>
        <Icon class='about-icon' name='shield' width={35} height={35} />
        <p>
          Oferujemy usługi dla firm wymagających najwyższego poziomu ochrony
        </p>
      </div>
      <div class='about-service about-extinger'>
        <Icon class='about-icon' name='extinger' width={35} height={35} />
        <p>Zapewniamy kompleksowe usługi przeciwpożarowe</p>
      </div>
      <div class='about-service about-safety'>
        <Icon class='about-icon' name='worker' width={35} height={35} />
        <p>
          Naszą misją jest stworzyć bezpieczne środowisko dla Twoich
          pracowników.
        </p>
      </div>
    </div>
    <div class='about-navigation'>
      <a class='link about-us' href="/cennik">Cennik</a>
      <a class='link contact-us' href="/uslugi">Oferta</a>
    </div>
  </div>
  <div class='about-image'>
    <Image src={extinguisher} alt='fireman' class='image one' />
    <Image src={fireman} alt='fireman' class='image two' />
    <div class='info-box'>
      <p class='text-one'>Ponad</p>
      <p class='text-two'>30 +</p>
      <span>Zaufanych Klientów</span>
    </div>
  </div>
</section>

<style>
  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 30px 20px 70px 20px;
    position: relative;
    gap: 20px;
  }
  .about-header {
    margin: 40px 4px 0;
  }
  .about-header h3 {
    padding-bottom: 20px;
    color: var(--base-gold);
  }
  .about-title {
    font-size: clamp(1.7rem, 2vw, 3rem);
    color: var(--base-black);
    font-family: var(--main-font);
    margin-bottom: 24px;
  }
  .about-services-container {
    margin-block: 35px;
    font-family: var(--roboto-font);
  }
  .about-service {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  .about-service p {
    font-size: clamp(0.7rem, 1vw, 1.3rem);
    color: var(--sub-black);
  }
  .about-icon {
    background-color: var(--base-gold);
    color: var(--base-wh);
    padding: 2px;
    min-width: 35px;
  }
  .about-service.about-protection .about-icon {
    background-color: var(--base-black);
  }
  .about-service.about-extinger .about-icon {
    background-color: var(--base-red);
  }
  .about-service.about-safety .about-icon {
    background-color: var(--base-gold);
  }
 
  .about-navigation {
    display: flex;
    gap: 16px;
    font-size: 16px;
    margin-top: 24px;
  }

  .link {
    font-family: var(--roboto-font);
    border: none;
    padding: 12px 24px;
    cursor: pointer;
  }

  .about-us {
    background-color: transparent;
    outline: 1px solid var(--base-gold);
    color: var(--base-black);
    transition: all 0.2s ease-in;
  }
  .about-us:hover {
    color: var(--base-wh);
    background-color: var(--base-red);
    outline: none;
  }

  .contact-us {
    color: var(--base-wh);
    background-color: var(--base-red);
    transition: all 0.2s ease-in;
  }
  .contact-us:hover {
    background-color: var(--base-gold);
    color: var(--base-wh);
  }
  .about-image {
    position: relative;
    margin: 40px 0 0;
  }
  .info-box {
    position: absolute;
    bottom: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 11px 24px -11px rgba(0, 0, 0, 1);
    left: 10%;
    min-width: 80%;
    height: 150px;
    background-color: rgb(245, 240, 240, 0.9);
  }
  .info-box span {
    font-family: var(--main-font);
    font-weight: 700;
  }
  .text-one,
  .text-two {
    font-family: var(--roboto-font);
    font-weight: 700;
  }
  .text-one {
    font-size: 2rem;
  }
  .text-two {
    font-size: 2.5rem;
  }
  .image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .image.two {
    display: none;
  }
  @media (min-width: 900px) {
    .about-container {
      flex-direction: row;
      padding: 70px 50px 70px 50px;
      gap: 40px;
    }
    .about-header {
      max-width: 830px;
      order: 2;
    }
    .about-header h3 {
      font-size: clamp(1rem, 1.5vw, 2rem);
      font-family: var(--main-font);
      letter-spacing: 2px;
    }
    .about-service {
      gap: 20px;
    }
    .about-icon {
      min-width: 46px;
      min-height: 46px;
      padding: 10px;
    }
    .about-image {
      display: flex;
      min-width: 560px;
      max-width: 800px;
      gap: 20px;
    }
    .image.two {
      display: block;
    }
    .info-box {
      min-width: 60%;
    }
  }
  @media (max-width: 425px) {
    .about-container {
      background-position: -190px;
    }
  }
</style>
