---
import { Icon } from 'astro-icon/components';
import advantagesList from '../../utils/advantagesList.json';
---

<div class='offer-section'>
  {
    advantagesList.map((advantages) => (
      <div class='offer'>
        <Icon name={advantages.icon} width={66} height={66} />
        <h3 class='offer-title'>{advantages.title}</h3>
        <p class='offer-desc'>{advantages.description}</p>
      </div>
    ))
  }
</div>

<style>
  .offer-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1440px;
    margin-bottom: 50px;
  }
  .offer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
    padding: 20px;
    font-family: var(--roboto-font);
    text-align: center;
    width: 80%;
    border: none;
    word-break: break-word;
  }

  .offer-title {
    color: var(--base-wh);
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 16px;
  }
  .offer-desc {
    color: var(--base-wh);
    margin-bottom: 32px;
    line-height: 1.5;
    font-size: .9rem;
    min-height: 65px;
  }

  @media (min-width: 900px) {
    .offer {
      width: calc(35% - 50px);
    }
  }
</style>
