---
// const currentPath = Astro.url.pathname;
const { pathname } = Astro.url;
---

<aside class='sidebar-section'>
  <div class='sidebar'>
    <h3>Na skróty:</h3>
    <div class='sidebar-lists'>
      <a
        class={pathname.includes('/uslugi/instrukcja-bezpieczenstwa-pozarowego')
          ? 'sidebar-link-active'
          : 'sidebar-link'}
        href='/uslugi/instrukcja-bezpieczenstwa-pozarowego'
      >
        Opracowanie Instrukcji Bezpieczeństwa Pożarowego
      </a>

      <a
        class={pathname.includes('/uslugi/instrukcja-w-przypadku-pozaru')
          ? 'sidebar-link-active'
          : 'sidebar-link'}
        href='/uslugi/instrukcja-w-przypadku-pozaru'
        >Opracowanie Instrukcji Postępowania w przypadku powstania pożaru lub
        innego miejscowego zagrożenia w miejscu i w czasie imprezy masowej
      </a>

      <a
        class={pathname.startsWith('/uslugi/szkolenia-przeciwpozarowe')
          ? 'sidebar-link-active'
          : 'sidebar-link'}
        href='/uslugi/szkolenia-przeciwpozarowe'
        >Szkolenia z zakresu ochrony przeciwpożarowej</a
      >

      <a
        class={pathname.startsWith('/uslugi/przygotowanie-obiektow-do-odbioru')
          ? 'sidebar-link-active'
          : 'sidebar-link'}
        href='/uslugi/przygotowanie-obiektow-do-odbioru'
        >Przygotowanie obiektów do odbiorów i kontroli przeprowadzanych przez
        Państwową Straż Pożarną</a
      >

      <a
        class={pathname.startsWith('/uslugi/przeglad-i-konserwacja-gasnic')
          ? 'sidebar-link-active'
          : 'sidebar-link'}
        href='/uslugi/przeglad-i-konserwacja-gasnic'
        >Przegląd i konserwację gaśnic</a
      >

      <a
        class={pathname.startsWith(
          '/uslugi/kontrola-hydrantow-i-wezy-hydrantowych',
        )
          ? 'sidebar-link-active'
          : 'sidebar-link'}
        href='/uslugi/kontrola-hydrantow-i-wezy-hydrantowych'
        >Przegląd i konserwację hydrantów wewnętrznych i węży hydrantowych</a
      >
      <a
        class={pathname.startsWith('/uslugi/przeglad-oswietlenia-ewakuacyjnego')
          ? 'sidebar-link-active'
          : 'sidebar-link'}
        href='/uslugi/przeglad-oswietlenia-ewakuacyjnego'
        >Przegląd i konserwację awaryjnego oświetlenia ewakuacyjnego</a
      >
      <a
        class={pathname.startsWith('/uslugi/przeglad-wylacznikow-pradu')
          ? 'sidebar-link-active'
          : 'sidebar-link'}
        href='/uslugi/przeglad-wylacznikow-pradu'
        >Przegląd i konserwację przeciwpożarowych wyłączników prądu</a
      >
      <a
        class={pathname.startsWith(
          '/uslugi/przeglad-drzwi-i-bram-przeciwpozarowych',
        )
          ? 'sidebar-link-active'
          : 'sidebar-link'}
        href='/uslugi/przeglad-drzwi-i-bram-przeciwpozarowych'
        >Przegląd drzwi i bram przeciwpożarowych (wyposażone w system
        sterowania)</a
      >
      <a
        class={pathname.startsWith(
          '/uslugi/znaki-ewakuacyjne-i-przeciwpozarowe',
        )
          ? 'sidebar-link-active'
          : 'sidebar-link'}
        href='/uslugi/znaki-ewakuacyjne-i-przeciwpozarowe'
        >Oznakowanie obiektów znakami ewakuacyjnymi i przeciwpożarowymi</a
      >
      <a
        class={pathname.startsWith('/uslugi/przeprowadzenie-prob-ewakuacji')
          ? 'sidebar-link-active'
          : 'sidebar-link'}
        href='/uslugi/przeprowadzenie-prob-ewakuacji'
        >Przeprowadzanie próbnych ewakuacji</a
      >
      <a
        class={pathname.startsWith('/uslugi/opracowanie-planow-ewakuacyjnych')
          ? 'sidebar-link-active'
          : 'sidebar-link'}
        href='/uslugi/opracowanie-planow-ewakuacyjnych'
        >Opracowanie planów ewakuacyjnych</a
      >
      <a
        class={pathname.startsWith(
          '/uslugi/nadzor-nad-bezpieczenstwem-pozarowym',
        )
          ? 'sidebar-link-active'
          : 'sidebar-link'}
        href='/uslugi/nadzor-nad-bezpieczenstwem-pozarowym'
        >Nadzór nad bezpieczeństwem pożarowym o</a
      >
      <a
        class={pathname.startsWith(
          '/uslugi/wykonanie-zabepieczenia-przeciwpozarowego',
        )
          ? 'sidebar-link-active'
          : 'sidebar-link'}
        href='/uslugi/wykonanie-zabepieczenia-przeciwpozarowego'
        >Wykonanie zabezpieczenia przeciwpożarowego przejść i przepustów
        instalacyjnych przez ściany i stropy oddzielenia przeciwpożaroweg</a
      >
    </div>
  </div>
</aside>

<style>
  .sidebar-section {
    max-width: 500px;
    display: flex;
  }
  .sidebar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 30px;
    order: 2;
  }
  .sidebar h3 {
    font-family: var(--main-font);
    color: var(--base-black);
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 20px;
    align-self: flex-start;
  }

  .sidebar-lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
  }
  .sidebar-link {
    font-family: var(--roboto-font);
    color: var(--base-gold);
    padding: 10px 10px;
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  /* .sidebar-link-active {
    background-color: var(--base-red);
    line-height: normal;
    color: var(--base-wh);
  } */
  @media (min-width: 900px) {
    .sidebar-item {
      text-align: right;
    }
    .sidebar h3 {
      align-self: flex-end;
    }
  }
</style>
