---
const currentPath = Astro.url.pathname;
---

<aside class='sidebar-section'>
  <div class='sidebar'>
    <h3>Na skróty:</h3>
    <ul class='sidebar-lists'>
      <li class='sidebar-item'>
        <a
          class={currentPath === '/uslugi/instrukcja-bezpieczenstwa-pozarowego'
            ? 'sidebar-link-active'
            : 'sidebar-link'}
          href='/uslugi/instrukcja-bezpieczenstwa-pozarowego'
          >
          Opracowanie Instrukcji Bezpieczeństwa Pożarowego
          </a
        >
      </li>
      <li class='sidebar-item'>
        <a
          class={currentPath === '/uslugi/instrukcja-w-przypadku-pozaru'
            ? 'sidebar-link-active'
            : 'sidebar-link'}
          href='/uslugi/instrukcja-w-przypadku-pozaru'
          >Opracowanie Instrukcji Postępowania w przypadku powstania pożaru lub
          innego miejscowego zagrożenia w miejscu i w czasie imprezy masowej</a
        >
      </li>
      <li class='sidebar-item'>
        <a
          class={currentPath === '/uslugi/szkolenia-przeciwpozarowe'
            ? 'sidebar-link-active'
            : 'sidebar-link'}
          href='/uslugi/szkolenia-przeciwpozarowe'
          >Szkolenia z zakresu ochrony przeciwpożarowej</a
        >
      </li>
      <li class='sidebar-item'>
        <a
          class={currentPath === '/'
            ? 'sidebar-link-active'
            : 'sidebar-link'}
          href='/uslugi/przygotowanie-obiektow-do-odbiorow'
          >Przygotowanie obiektów do odbiorów i kontroli przeprowadzanych przez
          Państwową Straż Pożarną</a
        >
      </li>
      <li class='sidebar-item'>
        <a
          class={currentPath === '/'
            ? 'sidebar-link-active'
            : 'sidebar-link'}
          href='/uslugi/przeglad-i-konserwacja-gasnic'
          >Przegląd i konserwację gaśnic</a
        >
      </li>
      <li class='sidebar-item'>
        <a
          class={currentPath === '/'
            ? 'sidebar-link-active'
            : 'sidebar-link'}
          href='/uslugi/przeglad-hydrantow'
          >Przegląd i konserwację hydrantów wewnętrznych i węży hydrantowych</a
        >
      </li>
      <li class='sidebar-item'>
        <a
          class={currentPath === '/'
            ? 'sidebar-link-active'
            : 'sidebar-link'}
          href='/uslugi/przeglad-oswietlenia-ewakuacyjnego'
          >Przegląd i konserwację awaryjnego oświetlenia ewakuacyjnego</a
        >
      </li>
      <li class='sidebar-item'>
        <a
          class={currentPath === '/'
            ? 'sidebar-link-active'
            : 'sidebar-link'}
          href='/uslugi/przeglad-wylacznikow-przeciwpozarowych'
          >Przegląd i konserwację przeciwpożarowych wyłączników prądu</a
        >
      </li>
      <li class='sidebar-item'>
        <a
          class={currentPath === '/'
            ? 'sidebar-link-active'
            : 'sidebar-link'}
          href='/uslugi/przeglad-drzwi-przeciwpozarowych'
          >Przegląd drzwi i bram przeciwpożarowych (wyposażone w system
          sterowania)</a
        >
      </li>
      <li class='sidebar-item'>
        <a
          class={currentPath === '/'
            ? 'sidebar-link-active'
            : 'sidebar-link'}
          href='/uslugi/oznakowanie-ewakuacyjne'
          >Oznakowanie obiektów znakami ewakuacyjnymi i przeciwpożarowymi</a
        >
      </li>
      <li class='sidebar-item'>
        <a
          class={currentPath === '/'
            ? 'sidebar-link-active'
            : 'sidebar-link'}
          href='/uslugi/probne-ewakuacje'>Przeprowadzanie próbnych ewakuacji</a
        >
      </li>
      <li class='sidebar-item'>
        <a
          class={currentPath === '/'
            ? 'sidebar-link-active'
            : 'sidebar-link'}
          href='/uslugi/opracowanie-planow-ewakuacyjnych'
          >Opracowanie planów ewakuacyjnych</a
        >
      </li>
      <li class='sidebar-item'>
        <a
          class={currentPath === '/'
            ? 'sidebar-link-active'
            : 'sidebar-link'}
          href='/uslugi/zabezpieczenie-przejsc-przepustow'
          >Wykonanie zabezpieczenia przeciwpożarowego przejść i przepustów
          instalacyjnych przez ściany i stropy oddzielenia przeciwpożarowego</a
        >
      </li>
      <li class='sidebar-item'>
        <a
          class={currentPath === ''
            ? 'sidebar-link-active'
            : 'sidebar-link'}
          href='/uslugi/nadzor-bezpieczenstwo-pozarowe'
          >Nadzór nad bezpieczeństwem pożarowym</a
        >
      </li>
    </ul>
  </div>
</aside>

<style>
  .sidebar-section {
    max-width: 500px;
    display: flex;
  }
  .sidebar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 30px;
    order: 2;
  }
  .sidebar h3 {
    font-family: var(--main-font);
    color: var(--base-black);
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 20px;
    align-self: flex-start;
  }
  .sidebar-item {
    list-style: none;
    text-transform: uppercase;
    padding: 10px 5px;
    text-align: left;
    font-size: 0.8rem;
    font-family: var(--roboto-font);
  }
  .sidebar-link {
    color: var(--base-gold);
  }
  @media (min-width: 900px) {
    .sidebar-item {
      text-align: right;
    }
    .sidebar h3 {
      align-self: flex-end;
    }
  }
</style>
