---
interface Props {
  heading: string
 
}

const { heading } = Astro.props;
---

<h1 class='title'>{heading}</h1>

<style>
  .title {
    font-size: clamp(2.3rem, 2.5vw, 3rem);
    color: var(--base-wh);
    font-family: var(--main-font);
    margin-bottom: 24px;
  }
</style>
