---

---

<section class='action-container'>
  <h2 class='action-heading'>
    Skontaktuj się znami w celu poznania szczegółów oferty
  </h2>
</section>

<style>
  .action-container {
    padding: 20px;
    display: flex;
    margin-top: 0px;
    color: var(--base-gold);
    flex-direction: column;
    align-items: center;
  }
  .action-heading {
    font-size: clamp(2rem, 2vw, 3rem);
    color: var(--base-black);
    font-family: var(--main-font);
    margin-top: 10px;
    margin-bottom: 64px;
  }
  @media(min-width:900px) {
    .action-heading {
      margin-top: 50px;
    }
  }
</style>
